<h2>Hera is the mother of all gods!</h2>
<div class="hera">
    <p>Hera is so badass</p>
    <p>Lorem!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis assumenda minima illo enim. Sapiente consequuntur provident eveniet atque, maiores sed, autem omnis adipisci accusantium obcaecati nulla, ut at quod!</p>
</div>