<div class="zeus">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat assumenda expedita nam libero possimus iure, itaque veniam quidem, eius magnam molestiae corrupti tenetur, dolorem voluptas fugit rem laudantium perferendis exercitationem!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae eveniet consequuntur tempore, delectus ut debitis rerum a architecto vel ab ullam ipsum quisquam possimus sit qui commodi impedit reprehenderit deserunt?</p>
</div>